@using Presentation.ViewModels;
@model PaginationViewModel

<div class="d-flex flex-column justify-content-between">
    <form asp-controller="Home" asp-action="GetPaginatedResults" method="post">
        <div class="d-flex flex-row justify-content-between">
            <div class="d-flex flex-row">
                <input type="hidden" id="currentPage" name="currentPage" value="@Model.CurrentPage" />
                <div class="form-group form-inline">
                    <select class="form-control" id="pageSize" name="pageSize">
                        <option value="10" selected disabled>Results</option>
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="20">20</option>
                    </select>
                </div>

                <div class="form-group form-inline">
                    <select class="form-control" id="sortBy" name="sortBy">
                        <option value="Inventory.Id" selected disabled>Sort By</option>
                        <option value="Albums.Name">Album Name</option>
                        <option value="Artists.Name">Artist Name</option>
                        <option value="RecordLabels.Name">Record Label</option>
                    </select>
                </div>
                <div class="form-group form-inline">
                    <select class="form-control" id="orderBy" name="orderBy">
                        <option value="ASC" selected disabled>Order By</option>
                        <option value="ASC">Ascending</option>
                        <option value="DESC">Descending</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="submit" class="btn btn-info">Submit</button>
            </div>
        </div>
    </form>

    <nav aria-label="Album navigation">
        <ul class="pagination justify-content-center">
            <li class="page-item @(Model.CurrentPage == 0 ? "disabled" : "")">
                <a class="page-link"
                   tabindex="-1"
                   asp-controller="Home"
                   asp-action="Index"
                   asp-route-pageindex="@(Model.CurrentPage - Model.PageSize)"
                   asp-route-pagesize="@Model.PageSize">
                    Previous Page
                </a>
            </li>
            <li class="page-item @(Model.IsLastPage ? "disabled" : "")">
                <a class="page-link"
                   asp-controller="Home"
                   asp-action="Index"
                   asp-route-pageindex="@(Model.CurrentPage + Model.PageSize)"
                   asp-route-pagesize="@Model.PageSize">
                    Next Page
                </a>
            </li>
        </ul>
    </nav>
</div>
